<div class="search_bar">
  <input type="text"
         placeholder="Search"
         [formControl]="searchInputControl" />
</div>
<div class="container">
  <techona-game-card class="cards"
                     *ngFor="let game of filteredGames"
                     [game]="game"></techona-game-card>
</div>