@import "../assets/styles/variables.scss";


.search_bar{
    padding: 10px;
    input {
        width: 100%;
        /*expand to container's width */
        border: 1px solid blue;
        min-height: 40px;
    }
}

//Flex container
.container {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    margin: 0;
}

// Cards
.cards {
    display: flex;
    padding: 5px;
    @media #{$extra-small-devices} {
        width: 100%;
    }
    @media #{$small-devices} {
        width: 50%;
    }
    @media #{$medium-devices} {
        width: 33.33%;
    }
    @media #{$large-devices} {
        width: 25%;
    }
    @media #{$extra-large-devices} {
        width: 25%;
    }
}
