@import "../../../assets/styles/variables.scss";

.card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s; // Content
    font-size: 16px;
    padding: 0 5px;
    @media #{$small-devices} {
        font-size: 14px;
    }
    .card-title {
        line-height: 1.1em;
        color: #d61e1b;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 2px;
        text-align: center;
    }
    .card-intro {
        width: auto;
        height: 100%;
        max-height: 150px;
        overflow: auto;
    } // Images
    .card-image {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.91;
        width: 100%;
        max-width: 450px;
        height: auto;
    }
}