<div class="card-item">
    <img class="card-image"
         [src]="game.imageUrl"
         [alt]="game.title" />
    <h2 class="card-title">{{ game.title }}</h2>
    <div class="card-intro">
        <p>{{ game.description }}</p>
    </div>
</div>