
// Media query config variables

/* Extra small devices (phones with lower resolutions) */

$extra-small-devices:"only screen and (max-width: 319px)";
/* Small devices (Most of the Smartphones Mobiles (Portrait)) */

$small-devices:"only screen and (min-width: 320px) and (max-width: 480px)";
/* Medium devices (Tablets, Mobiles (Landscape)) */

$medium-devices:"only screen and (min-width: 481px) and (max-width: 768px)";
// Tablets,IPad (Landscape) 
$large-devices:"only screen and (min-width: 769px) and (max-width: 1024px)";
/* Large devices (laptops/desktops, 1025px and up) */

$extra-large-devices:"only screen and  (min-width: 1025px)";